@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:wght@300&family=The+Nautigal:wght@700&display=swap');

/* font-family: 'Leckerli One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'The Nautigal', cursive; */

/* ======================== BASIC STYLING ============================= */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bgcolor: #f1f5fd;
    --input-background: #f1f1f1;
    --input-focus-background: #ddd;
    --primary-color: #6f5de7;
    --text-color: #828286;
    --main-text-color: #333333;
    --btn-color: #04AA6D;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

/* ======================== BASIC STYLING END ============================= */


/* ======================== HEADER STYLING ============================= */

.cart-container {
    padding: 1rem;
}

.cart-header {
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

.header-c1 {
    display: flex;
    align-items: center;
    padding: 0.9rem 1rem;
}

.header-c1 i {
    font-size: 2rem;
    position: relative;
}

.header-c1 h3 {
    font-size: 1.7rem;
    margin-left: 1rem;
    text-transform: capitalize;
    font-weight: bold;
}

.header-c2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    padding: 0 1rem;
}

.cart-container hr {
    border: 1.2px solid;
}

.shopping-count {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    background-color: dodgerblue;
    border-radius: 25px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

/* ======================== HEADER STYLING END ============================= */


/* ======================== CART SECTION STYLING ============================= */

.cart-section {
    margin: 1.5rem 0;
    padding: 1rem 0;
}

.cart-section-header {
    padding: 0.5rem 2rem;
}

.cart-section-header h2 {
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: bold;
}

.cart-items-section {
    height: 45rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
     margin-top: 0.8rem;
     padding: 3rem 6rem;
}

.cart-items{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.Data-Container{
    padding: 0.7rem 0 0 0;
}



/* .img-div{
    width: 4rem;
    height:2rem;
} */
img{
    
    width: 60%;
    height: 10rem;
    border-radius: 13px;
}
.title-div h3{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.title-div h5{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 2px;
}
.count-icons-div i{
    font-size: 1.5rem;
    cursor: pointer;
}

.delete-icon{
    color: red;
}

.input-field{
    width: 5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--text-color);
    outline: none;
    border-radius: 4px;
    margin: 0px 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
h4{
    font-weight: bold;
}

.total-amount h2{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-text-color);
    font-weight: bold;
}
.amount{
    color:black;
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.checkout-btn{
    border: none;
    outline: none;
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
    background-color: dodgerblue;
    padding: 0.6rem 2rem;
    font-weight: bold;
    border-radius: 5px;
}
.checkout-btn:hover{
    opacity: 0.8;
}

/* ======================== CART SECTION STYLING END ============================= */